## Ignore files that shouldn't be pushed to GitHub.

# Actual binaries.
*.exe
*.depend

# Logs
*.log

# CodeBlocks temp stuffs
*.layout

# VS temp stuffs
*.sdf
*.opensdf
*.vcxproj.user
.vs/

# Build results
[Oo]bj/
[Dd]ebug/
[Rr]elease/
bin/Debug/TemperFine.ilk
bin/Debug/TemperFine.pdb

# Profiling
*.psess
*.vspx